@media screen and (min-width: 575px) {

    #menu {
        display: none; /* hide hamburger button */
    }

    .navigation {
        flex-direction: row;
    }

    .navigation li {
        display: block;
        flex: 1 1 100%;
        text-align: center;
        padding: .75rem;
    }

    .hero h1 {
        grid-row: 3 / 4;
        grid-column: 1 / 4;
        font-size: 35px;
    }

}