:root{
    --dark-1: #E671F0;
    --secondary-1: #F071B4;
    --dark-2: #c67ff5;
    --secondary-2: #F07371;
    --light-color: #F0C1EC;
    
    --heading-font: "Rubik Dirt", serif;
    --paragraph-font: "Poiret One", serif;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 100%
}

main {
    width: 1100px;
    margin: 0 auto;
    margin-top: 5rem;
}

header img {
    margin-right: 1rem;
    box-shadow: 1px 1px 10px black;
}

header span {
    font-family: var(--heading-font);
    font-size: 25px;
    color: #000;
    margin-left: 1rem;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--secondary-2);
    padding: 1rem;
}

h1 {
    text-align: center;
    text-transform: uppercase;
    border-bottom: 1px solid var(--dark-1);
    padding: 1rem;
    margin: 0 1rem 0 1rem;
}

h1, h2 {
    font-family: var(--heading-font);
    font-weight: 200;
}


/* small view navigation */

#menu {
    display: block;
    font-size: 2rem;
    background: var(--light-color);
    border: 0;
    color: #000;
    font-weight: 700;
    padding-left: .5rem;
    text-decoration: none;
}

#menu::before {
	content: "≡";
}

#menu.open::before {
    content: "✖";
}

.navigation {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    list-style: none;
    background-color: var(--dark-2);
    font-size: 18px;
}

.navigation li {
    display: none;
}

.navigation li {
    padding: .5rem;
}

nav li:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.active {
    background-color: rgba(0, 0, 0, 0.2);
}

/* when the button is clicked - the open class is toggled (added/removed) */
.open li {
    display: block;
}


p, li {
    font-family: var(--paragraph-font);
    font-weight: 700;
    color: #000;
}

a {
    color: black;
}

.parent ul li {
    margin-bottom: 1rem;
}

.parent {
    margin: 1rem 1rem 5rem 1rem;
}

.parent section {
    border: 1px solid var(--dark-1);
    background-color: var(--light-color);
    border-radius: 10px;
    margin: 1rem 0;
    overflow: hidden;
}

.parent h2 {
    background-color: var(--dark-1);
    color: #000;
    text-transform: uppercase;
    padding: 1rem 0;
    text-align: center;
}

.parent ul, .parent p {
    padding: 10px
}

section li {
    padding-left: 1rem;
}

section#info {
    text-align: center;
}

footer {
    display: flex;                /* Enable flexbox */
    flex-direction: column;       /* Stack the p tags vertically */
    justify-content: center;      /* Center the items vertically */
    align-items: center;          /* Center the items horizontally */
    text-align: center;           /* Ensure text is centered inside each p */
    background-color: var(--secondary-1);
    padding: 1rem;
    margin: 0 auto;
}

#about span {
    display: block;
}

span#name, span#country {
    font-size: 20px;
}



